<h1>Enter any Search filed </h1>
<form class="form-search">
    <div>
        <input type="text" ng-model="query">
        <button ng-click="search()" type="submit" class="btn">Search</button>
    </div>
    <button ng-click="reset()" ng-disabled="!query" type="submit" class="btn">Reset</button>

    <button ng-click="back()" type="submit" class="btn">Go Back</button>
</form>


<table ng-disabled="!query" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Length</th>
        <th>Subject</th>
    </tr>
    <tbody>
        <tr ng-repeat="course in courses">
            <td>{{course.Id}}</td>
            <td>{{course.Name}}</td>
            <td>{{course.Length}}</td>
            <td>{{course.Subject}}</td>
        </tr>
    </tbody>
</table>